<div
  class="flex flex-col justify-between p-4 w-full h-full bg-sky-900 border-2 border-black shadow-gray-500 shadow-sm"
>
  <div>
    <h1 class="text-6xl font-extrabold">{{ book.title.toUpperCase() }}</h1>
    <h2 class="text-xl ">{{ book.author }}</h2>
  </div>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  <div class="flex flex-row justify-end mx-4">
    <a [routerLink]="['/book-catalog', book.id]" class="btn rounded-none bg-black">Details</a>
  </div>
</div>
