<button class="bg-black p-0.5 hover:bg-gray-900 mb-2" *ngIf="!isOpen" (click)="onShow()">
  Add a Comment
</button>
<form *ngIf="isOpen" class="my-2" (ngSubmit)="onSubmit()">
  <div>
    <textarea
      placeholder="Write your thoughts..."
      class="w-full input rounded-none"
      [formControl]="contentControl"
    ></textarea>
  </div>
  <div class="flex flex-row justify-end gap-4">
    <button (click)="onCancel()" class="btn btn-sm bg-sky-800 hover:bg-sky-700 rounded-none">
      Cancel
    </button>
    <button type="submit" class="btn btn-sm rounded-none bg-black">
      Submit
    </button>
  </div>
</form>
