<header class="navbar fixed inset-0 h-12 bg-sky-900 border-b-2 border-black">
  <a routerLink="" class="navbar-start text-2xl font-bold mx-4">BOOKS</a>
  <nav class="navbar-center flex flex-row gap-12">
    <a
      routerLink="/book-catalog"
      routerLinkActive="pb-2 scale-110"
      class="hover:text-gray-200 transform ease-in-out duration-500 hover:scale-110"
      >book catalog</a
    >
    <a
      routerLink="/author-catalog"
      routerLinkActive="pb-2 scale-110"
      class="hover:text-gray-200 transform ease-in-out duration-500 hover:scale-110"
      >author catalog</a
    >
    <a
      routerLink="/search"
      routerLinkActive="pb-2 scale-110"
      class="hover:text-gray-200 transform ease-in-out duration-500 hover:scale-110"
      >search</a
    >
  </nav>
  <div class="navbar-end">
    <h2 *ngIf="authState().isLoggedIn" class="text-white mx-4">Logged in as <h1 class="font-bold inline">{{ (authState().username) }}</h1></h2>
    <a *ngIf="!(authState().isLoggedIn)" class="btn rounded-none bg-black mx-4" [routerLink]="['login']">login</a>
    <button *ngIf="authState().isLoggedIn" (click)="onLogoutClick()" class="btn rounded-none bg-black mx-4">logout</button>
  </div>
</header>
<div class="mx-auto max-w-6xl mt-24 mb-12">
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>
<div
  [ngClass]="{
    'alert text-white shadow-xl shadow-black fixed w-[30rem] rounded-none border-2 border-black left-[calc(50%-15rem)] z-30 transform duration-200 ease-in': true,
    '-bottom-20': (alert$ | async )?.isVisible === false,
    'bottom-4': (alert$ | async)?.isVisible,
    'bg-green-500': (alert$ | async)?.type === 'success',
    'bg-yellow-500': (alert$ | async)?.type === 'warning',
    'bg-sky-500': (alert$ | async)?.type === 'info',
    'bg-red-500': (alert$ | async)?.type === 'error'
  }"
  (click)="alertHide()"
>
<span>{{ (alert$ | async)?.message }}</span>
</div>
