<header class="navbar bg-sky-900 border-b-2 border-black">
  <a routerLink="" class="navbar-start text-2xl font-bold mx-4">BOOKS</a>
  <nav class="navbar-center flex flex-row gap-12">
    <a
      routerLink="/book-catalog"
      routerLinkActive="pb-2 scale-110"
      class="hover:text-gray-200 transform ease-in-out duration-500 hover:scale-110"
      >book catalog</a
    >
    <a
      routerLink="/author-catalog"
      routerLinkActive="pb-2 scale-110"
      class="hover:text-gray-200 transform ease-in-out duration-500 hover:scale-110"
      >author catalog</a
    >
    <a
      routerLink="/search"
      routerLinkActive="pb-2 scale-110"
      class="hover:text-gray-200 transform ease-in-out duration-500 hover:scale-110"
      >search</a
    >
  </nav>
  <div class="navbar-end">
    <a routerLink="/login" routerLinkActive="active" class="btn rounded-none bg-black mx-4">login</a>
  </div>
</header>
<div class="mx-auto max-w-4xl">
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>
