<form class="flex flex-col" (ngSubmit)="onSubmit()" >
  <label class="text-center mt-10 mb-2" id="username">Username</label>
  <input
    class="input rounded-none mb-4 mx-auto w-2/3"
    type="text"
    id="username"
    [formControl]="usernameControl"
  />
  <label class="text-center mb-2" id="password">Password</label>
  <input
    class="input rounded-none mb-10 mx-auto w-2/3"
    type="password"
    id="password"
    [formControl]="passwordControl"
  />
  <div class="mx-auto w-2/3">
    <button
      class="btn rounded-none bg-black w-[calc(100%-3rem)] text-center mx-6"
      type="submit"
      [ngClass]="{ 'btn-disabled': isLoading() }"
    >
      Login
    </button>
    <p class="text-center mt-4">
      Don't have an account?
      <a class="text-sky-300 hover:text-sky-500" [routerLink]="'/sign-up'">Sign up</a>
    </p>
  </div>
</form>
