<main class="prose mx-auto">
  <h1>Welcome to Books!</h1>
  <p>The greatest books all in one place.</p>
  <h2>Books</h2>
  <p>
    <a routerLink="/book-catalog">View all books.</a>
    View a whole book catalog and check out the details of each book.
  </p>
  <h2>Authors</h2>
  <p>
    <a routerLink="/author-catalog">View all authors.</a>
    Check all the authors of the books in the catalog. There are also details about each author.
  </p>
  <h2>Search</h2>
  <p>
    <a routerLink="/search">Search for books.</a>
    Search for books by title, author, or genre.
  </p>
  <h2>Reviews & Comments</h2>
  <p>After you've read a book, leave a review!
  You can also check out what others think and leave comments to other reviews.
  You need to <a routerLink="/login">log in</a> or <a routerLink="/sign-up">sign up</a> to submit a review or a comment.</p>
</main>
